In [1]:
pip install nltp

Collecting nltp
  Downloading nltp-0.1.0.tar.gz (3.7 kB)
Building wheels for collected packages: nltp
  Building wheel for nltp (setup.py) ... done
  Created wheel for nltp: filename=nltp-0.1.0-py3-none-any.whl size=4088 sha256=039ca6af4de50f6a46ab61f0cc1b44f35b64a4d7c0f9973b2d37b210db26d3a2
  Stored in directory: /root/.cache/pip/wheels/21/c9/45/7b698cb2fa1094fc5dd94a4cb3c833e2cbbaf393321f4006d0
Successfully built nltp
Installing collected packages: nltp
Successfully installed nltp-0.1.0

In [2]:
nltk.download('wordnet')

NameError: ignored

In [3]:
import nltk

In [4]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [5]:
import pandas as pd

In [6]:
dt = pd.read_csv("spam.csv")

UnicodeDecodeError: ignored

In [8]:
import chardet
with open("spam.csv", 'rb') as rawdata:
  result = chardet.detect(rawdata.read(100000))
  result

In [9]:
import chardet

In [10]:
with open("spam.csv", 'rb') as rawdata:
  result = chardet.detect(rawdata.read(100000))
  result

In [11]:
dt.head()

NameError: ignored

In [12]:
dt = pd.read_csv("spam.csv" , encoding = 'Windows-1252')

In [13]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [14]:
dt['spam'] = dt['type'].map({'spam' : 1 , 'ham' : 0}).astype(int)

In [15]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0

In [16]:
print("columns in the given data:")
for col in dt.columns:
  print(col)

columns in the given data:
type
text
spam

In [17]:
t=len(dt['type'])
print("no of rows in given column:",t)
t=len(dt['text'])
print("no of rows in liked column:",t)

no of rows in given column: 116
no of rows in liked column: 116

In [18]:
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [21]:
def tokenizer(text):
  return text.split()

In [22]:
dt['text'] = dt['text'].apply(tokenizer)

In [23]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [24]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords = False )

In [25]:
def stem_it(text):
  return[porter.stem(word) for word in text]

In [26]:
dt['text'] = dt['text'].apply(stem_it)

In [27]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [28]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [32]:
def lemmit_it(text):
  return [lemmatizer.lemmatize(word , pos = 'a') for word in text]

In [33]:
dt['text'] = dt['text'].apply(lemmit_it)

In [34]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [37]:
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [36]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [40]:
def stop_it(text):
  review = [word for word in text if not word in stop_words]
  return review

In [41]:
dt['text'] = dt['text'].apply(stop_it)

In [42]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [43]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [44]:
dt['text'] = dt['text'].apply(' '.join)

In [45]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [55]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [58]:
from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [59]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred, y_text)*100
print("accuracy",acc_log )

accuracy 87.5